*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

img{
    width: 50px;
    border-radius: 50%;
}

.container{
    display: grid;
    grid-template-columns: 1.2fr 6fr;
}

.sidenav{
    background-color: #2563eb;
    color: #fff;
    font-size: 18px;
    padding-top: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.8;
}

.showcase{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
}

.showcase > .nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    font-size: 18px;
    padding-left: 18px;
} 

.showcase > .nav > div:first-child{
    display: flex;
    justify-content: space-around;
}

.showcase > .nav > div:first-child > div:first-child{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.showcase > .nav > div:first-child > div:first-child > input{
    width: 100%;
    border-radius: 16px;
    padding: 10px 10px;
    border: none; 
    background-color: #ddd;
    color: #fff;
}

.showcase > .nav > div:first-child > div:nth-child(2){
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}